**/videos
**/artifacts
!testcharmvision/client/artifacts
**/traces
**/inputs
**/har
**/.git
**/.github
**/.mypy_cache
**/.venv
**/.vscode
*.env*
!/.env
# Streamlit ignores
**/secrets*.toml

# Testcharmvision
docs
images

# Front
testcharmvision-frontend/.env*
testcharmvision-frontend/dist
testcharmvision-frontend/node_modules

.dockerignore
.gitignore
Dockerfile