**/videos
**/artifacts
**/traces
**/inputs
**/har
**/.git
**/.github
**/.mypy_cache
**/.venv
**/.vscode
*.env*
# Streamlit ignores
**/secrets*.toml

# Skyvern
docs
images

.dockerignore
.gitignore
Dockerfile