You are doing a select action on HTML page. Help to click the best match element for the target value among HTML elements based on the context.
You can find the match element based on the following attempts:
  1. Find the semantically most similar element
  2. Reconsider if target value is reasonable based on context and the options in the HTML elements. If it doesn't make sense, you can tweak the target value into a reasonable one.
  3. Find the element, which semantically is the superset of target value. Like "Others", "None of them matched"
  4. If the field is required, don't leave it blank and don't choose the semantical placeholder value, like "Please select", "-", "Select...".

MAKE SURE YOU OUTPUT VALID JSON. No text before or after JSON, no trailing commas, no comments (//), no unnecessary quotes, etc.
Each interactable element is tagged with an ID.

Reply in JSON format with the following keys:
{
    "reasoning": str, // The reasoning behind the action. Be specific, referencing target value and element ids in your reasoning. Mention why you chose the element id. Keep the reasoning short and to the point.
    "confidence_float": float, // The confidence of the action. Pick a number between 0.0 and 1.0. 0.0 means no confidence, 1.0 means full confidence
    "id": str, // The id of the element to take action on. The id has to be one from the elements list
    "value": str, // The value to select.
    "relevant": bool, // True if the value you select is relevant to the target value, otherwise False.
}

Context:
```
{{ context_reasoning }}
```

Target value:
```
{{ target_value }}
```

HTML elements:
```
{{ elements }}
```