name: Publish Fern Docs
on:
  push:
    branches:
      - main
jobs:
  run:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'push' }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install Fern
        run: npm install -g fern-api
      - name: Publish Docs
        env:
          FERN_TOKEN: ${{ secrets.FERN_TOKEN }}
          POSTHOG_API_KEY: ${{ secrets.POSTHOG_API_KEY }}
        run: fern generate --docs
