name: Sync to skyvern-cloud
on:
  pull_request:
    types: [closed]
    branches:
      - main
  workflow_dispatch:
    inputs:
      pr_number:
        description: 'PR number to sync'
        required: true
        type: string
jobs:
  sync:
    runs-on: ubuntu-latest
    if: github.event.pull_request.merged == true || github.event_name == 'workflow_dispatch'
    steps:
      - name: Checkout Repository
        uses: actions/checkout@master
      - name: Fetch PR details
        id: pr_details
        run: |
          if [ "${{ github.event_name }}" == "workflow_dispatch" ]; then
            PR_NUMBER=${{ inputs.pr_number }}
          else
            PR_NUMBER=${{ github.event.pull_request.number }}
            if [ -z "$PR_NUMBER" ]; then
              PR_NUMBER=$(git log -1 --pretty=format:%s | grep -o '#[0-9]\\+' | tr -d '#')
            fi
          fi
          if [ -z "$PR_NUMBER" ]; then
            echo "No PR number found. Exiting."
            exit 1
          fi
          PR_INFO=$(gh pr view $PR_NUMBER --json number,headRefName,body,title,url,author)
          BRANCH_NAME=$(echo "$PR_INFO" | jq -r .headRefName)
          PR_BODY=$(echo "$PR_INFO" | jq -r .body)
          PR_TITLE=$(echo "$PR_INFO" | jq -r .title)
          PR_URL=$(echo "$PR_INFO" | jq -r .url)
          PR_AUTHOR=$(echo "$PR_INFO" | jq -r .author.login)
          echo "PR_NUMBER=$PR_NUMBER" >> $GITHUB_OUTPUT
          echo "BRANCH_NAME=$BRANCH_NAME" >> $GITHUB_OUTPUT
          PR_BODY_ESCAPED=$(echo "$PR_BODY" | jq -aRs .)
          echo "PR_BODY=$PR_BODY_ESCAPED" >> $GITHUB_OUTPUT
          echo "PR_TITLE=$PR_TITLE" >> $GITHUB_OUTPUT
          echo "PR_URL=$PR_URL" >> $GITHUB_OUTPUT
          echo "PR_AUTHOR=$PR_AUTHOR" >> $GITHUB_OUTPUT
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Run GitHub File Sync
        uses: Skyvern-AI/repo-file-sync-action@main
        with:
          GH_PAT: ${{ secrets.SKYVERN_CLOUD_GH_PAT }}
          GIT_EMAIL: shu@skyvern.com
          GIT_USERNAME: Shuchang Zheng
          PR_LABELS: |
            sync
            ${{steps.pr_details.outputs.PR_AUTHOR }}
          BRANCH_NAME: repo-sync/${{ steps.pr_details.outputs.BRANCH_NAME }}
          PR_BODY: "PR: ${{ steps.pr_details.outputs.PR_URL }}\nAuthor: @${{ steps.pr_details.outputs.PR_AUTHOR }}\n\n${{ steps.pr_details.outputs.PR_BODY }}"
          PR_TITLE: ${{ steps.pr_details.outputs.PR_TITLE }}
