name: Sync to skyvern-cloud
on:
  pull_request_target:
    types: [closed]
    branches:
      - main
  workflow_dispatch:
    inputs:
      pr_number:
        description: 'PR number to sync. Input JUST the number, no #'
        required: true
        type: string
jobs:
  sync:
    runs-on: ubuntu-latest
    if: github.event.pull_request.merged == true || github.event_name == 'workflow_dispatch'
    steps:
      - name: Checkout Repository
        uses: actions/checkout@master
      - name: Determine Git credentials
        id: git-creds
        run: |
          case "${{ github.event.pull_request.user.login }}" in
            wintonzheng)
              echo "GH_PAT=${{ secrets.SKYVERN_CLOUD_GH_PAT }}" >> $GITHUB_OUTPUT
              echo "GIT_EMAIL=shu@skyvern.com" >> $GITHUB_OUTPUT
              echo "GIT_USERNAME=Shuchang Zheng" >> $GITHUB_OUTPUT
              ;;
            LawyZheng)
              echo "GH_PAT=${{ secrets.LAWY_GH_PAT }}" >> $GITHUB_OUTPUT
              echo "GIT_EMAIL=lawy@skyvern.com" >> $GITHUB_OUTPUT
              echo "GIT_USERNAME=Lawy Zheng" >> $GITHUB_OUTPUT
              ;;
            suchintan)
              echo "GH_PAT=${{ secrets.SUCHINTAN_GH_PAT }}" >> $GITHUB_OUTPUT
              echo "GIT_EMAIL=suchintansingh@gmail.com" >> $GITHUB_OUTPUT
              echo "GIT_USERNAME=Suchintan Singh" >> $GITHUB_OUTPUT
              ;;
            jomido)
              echo "GH_PAT=${{ secrets.JON_GH_PAT }}" >> $GITHUB_OUTPUT
              echo "GIT_EMAIL=jon@skyvern.com" >> $GITHUB_OUTPUT
              echo "GIT_USERNAME=Jonathan Dobson" >> $GITHUB_OUTPUT
              ;;
            pedrohsdb)
              echo "GH_PAT=${{ secrets.PEDROHSDB_GH_PAT }}" >> $GITHUB_OUTPUT
              echo "GIT_EMAIL=pedro@skyvern.com" >> $GITHUB_OUTPUT
              echo "GIT_USERNAME=pedrohsdb" >> $GITHUB_OUTPUT
              ;;
            stanislaw89)
              echo "GH_PAT=${{ secrets.STAS_GH_PAT }}" >> $GITHUB_OUTPUT
              echo "GIT_EMAIL=stas@skyvern.com" >> $GITHUB_OUTPUT
              echo "GIT_USERNAME=stas" >> $GITHUB_OUTPUT
              ;;
            marcmuon)
              echo "GH_PAT=${{ secrets.MARC_GH_PAT }}" >> $GITHUB_OUTPUT
              echo "GIT_EMAIL=marc@skyvern.com" >> $GITHUB_OUTPUT
              echo "GIT_USERNAME=marcmuon" >> $GITHUB_OUTPUT
              ;;
            *)
              echo "GH_PAT=${{ secrets.SKYVERN_CLOUD_GH_PAT }}" >> $GITHUB_OUTPUT
              echo "GIT_EMAIL=shu@skyvern.com" >> $GITHUB_OUTPUT
              echo "GIT_USERNAME=Shuchang Zheng" >> $GITHUB_OUTPUT
              ;;
          esac
      - name: Fetch PR details
        id: pr_details
        run: |
          if [ "${{ github.event_name }}" == "workflow_dispatch" ]; then
            PR_NUMBER=${{ inputs.pr_number }}
          else
            PR_NUMBER=${{ github.event.pull_request.number }}
          fi
          PR_INFO=$(gh pr view $PR_NUMBER --json number,headRefName,body,title,url,author)
          BRANCH_NAME=$(echo "$PR_INFO" | jq -r .headRefName)
          PR_BODY=$(echo "$PR_INFO" | jq -r .body)
          PR_TITLE=$(echo "$PR_INFO" | jq -r .title)
          PR_URL=$(echo "$PR_INFO" | jq -r .url)
          PR_AUTHOR=$(echo "$PR_INFO" | jq -r .author.login)
          echo "PR_NUMBER=$PR_NUMBER" >> $GITHUB_OUTPUT
          echo "BRANCH_NAME=$BRANCH_NAME" >> $GITHUB_OUTPUT
          PR_BODY_ESCAPED=$(echo "$PR_BODY" | jq -aRs .)
          echo "PR_BODY=$PR_BODY_ESCAPED" >> $GITHUB_OUTPUT
          echo "PR_TITLE=$PR_TITLE" >> $GITHUB_OUTPUT
          echo "PR_URL=$PR_URL" >> $GITHUB_OUTPUT
          echo "PR_AUTHOR=$PR_AUTHOR" >> $GITHUB_OUTPUT
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Run GitHub File Sync
        uses: Skyvern-AI/repo-file-sync-action@main
        with:
          GH_PAT: ${{ steps.git-creds.outputs.GH_PAT }}
          GIT_EMAIL: ${{ steps.git-creds.outputs.GIT_EMAIL }}
          GIT_USERNAME: ${{ steps.git-creds.outputs.GIT_USERNAME }}
          PR_LABELS: |
            sync
            ${{steps.pr_details.outputs.PR_AUTHOR }}
          BRANCH_NAME: repo-sync/${{ steps.pr_details.outputs.BRANCH_NAME }}
          PR_BODY: "PR: ${{ steps.pr_details.outputs.PR_URL }}\nAuthor: @${{ steps.pr_details.outputs.PR_AUTHOR }}\n\n${{ steps.pr_details.outputs.PR_BODY }}"
          PR_TITLE: ${{ steps.pr_details.outputs.PR_TITLE }}
