name: Update OpenAPI Specification
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"
jobs:
  update-openapi:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.SKYVERN_OSS_GITHUB_TOKEN }}
      - name: Update OpenAPI Spec
        uses: fern-api/sync-openapi@v2
        with:
          token: ${{ secrets.SKYVERN_OSS_GITHUB_TOKEN }}
          branch: 'update-openapi-spec'
          update_from_source: true
          add_timestamp: true
